.public{
    margin-left: 380px;
    padding-top: 25px;
}
h1{
    margin-left: 390px;
}
h3{
    margin-left: 300px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:green;
}
.row{
    background-color: darkolivegreen;
    margin-right: 500px;
    
}